# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


*adminsdk*.json
.env*
node_modules/
.roo/
.serena/
transformed_packages.csv
supabase/
schema.sql
cadd_vault_suggestions_2025-05-20T23-07-31-371Z.csv
cadd-vault-backend-scripts/__pycache__/models.cpython-310.pyc
cadd-vault-backend-scripts/__pycache__/services.cpython-310.pyc
cadd-vault-backend-scripts/__pycache__/test_integration.cpython-310-pytest-8.3.5.pyc
cadd-vault-backend-scripts/__pycache__/test_runner.cpython-310-pytest-8.3.5.pyc
cadd-vault-backend-scripts/__pycache__/tests_integration.cpython-310-pytest-8.3.5.pyc
cadd-vault-backend-scripts/__pycache__/update_database.cpython-310.pyc
cadd-vault-backend-scripts/*.csv
cadd-vault-backend-scripts/tests/__pycache__/test_all.cpython-310-pytest-8.3.5.pyc
Optimizing Supabase for a Data-Inte.txt
__pycache__/simple_package_test.cpython-310-pytest-8.3.5.pyc
__pycache__/test_package_fetch.cpython-310-pytest-8.3.5.pyc
cadd-vault-backend-scripts/tests/__pycache__/test_database_connection.cpython-310-pytest-8.3.5.pyc
CLAUDE.md
supabase-backup/auth_and_storage_schema.sql
supabase-backup/data.sql
supabase-backup/roles.sql
Refactoring_Guide.md
